
@{
    ViewBag.Title = "Taurus O.";
}

<div class="nomobile">
    <div id="layer"></div>
    <!-- START HEADER -->
    <section id="header">
        <div class="container" style="padding-top: 0;">
            <header>
                <!-- HEADLINE -->
                <h1 data-animated="GoIn"><b>Taurus Omejia 50th Birthday</b> Celebration happening in...
                </h1>
            </header>
            <!-- START TIMER -->
            <div id="timer" data-animated="FadeIn" class="dark-layer">
                <div id="days" class="timer_box"></div>
                <div id="hours" class="timer_box"></div>
                <div id="minutes" class="timer_box"></div>
                <div id="seconds" class="timer_box"></div>
                <h4>This will be the party of the year. You can't afford to miss</h4>
                <div class="rsvp">
                    <h4>Click the button to RSVP</h4>
                    <button class="btn btn-info">@Html.ActionLink("RSVP NOW!", "Rsvp")</button>
                </div>
            </div>
            <!-- END TIMER -->
            <div class="row">
                <div class="col-sm-4 pads">dsdf</div>
                <div class="col-sm-4 pads">dsdf</div>
                <div class="col-sm-4 pads">dsdf</div>
            </div>
        </div>
        <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXT READABLE -->
    </section>
</div>